
        <nav class="sidebar sidebar-offcanvas" style="background: #312f2f;" id="sidebar">
          <ul class="nav">
            <!--<li class="nav-item nav-profile">
              <a href="#" class="nav-link">
                <div class="profile-image">
                  <img class="img-xs rounded-circle" src="/static/assets/images/faces/index.jpg" alt="profile image">
                  <div class="dot-indicator bg-success"></div>
                </div>
                
              </a>
            </li>-->
            <li class="nav-item active">
              <a class="nav-link" href="/">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Nadzorna plošča</span>
              </a>
            </li>
            <li class="nav-item nav-category">Meni</li>
            <li class="nav-item">
              <a class="nav-link" href="/electricity.html">
                <i class="menu-icon typcn typcn-shopping-bag"></i>
                <span class="menu-title">Električna energija</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="menu-icon typcn typcn-th-large-outline"></i>
                <span class="menu-title">Promet</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="menu-icon typcn typcn-bell"></i>
                <span class="menu-title">Ogrevanje</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="menu-icon typcn typcn-user-outline"></i>
                <span class="menu-title">Voda</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <i class="menu-icon typcn typcn-document-add"></i>
                <span class="menu-title">Ostalo</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="#"> Zemeljski plin </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"> Naftni proizvodi </a>
                  </li>
                </ul>
              </div>
            </li>

          </ul>
        </nav>
