
{% extends "layouts/base.html" %}

{% block title %} Električna energija {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="card">
              <div class="p-4 pr-5 border-bottom bg-light d-flex justify-content-between">
                <h4 class="card-title mb-0">Poraba-Proizvodnja</h4>
                <div id="pie-chart-legend" class="mr-3"></div>
              </div>
              <div class="card-body d-flex flex-column">
                <canvas class="my-auto" id="pieChart_proizvodnja_poraba" height="220"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="card">
              <div class="p-4 pr-5 border-bottom bg-light d-flex justify-content-between">
                <h4 class="card-title mb-0">Poraba po sektorjih</h4>
                <div id="doughnut-chart-legend" class="mr-4"></div>
              </div>
              <div class="card-body d-flex flex-column">
                <canvas class="my-auto" id="doughnutChart_poraba_sektorji" height="230"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="card">
              <div class="p-4 pr-5 border-bottom bg-light d-flex justify-content-between">
                <h4 class="card-title mb-0">Proizvodnja po virih</h4>
                <div id="doughnut-chart-legend" class="mr-4"></div>
              </div>
              <div class="card-body d-flex flex-column">
                <canvas class="my-auto" id="doughnutChart_proizvodnja_viri" height="230"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
          <div class="p-4 border-bottom bg-light">
            <h4 class="card-title mb-0">Število samooskrbnih sončnih elektrarn</h4>
          </div>
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center pb-4">
              <div id="line-traffic-legend"></div>
            </div>
            <canvas id="lineChart_OVE_produkcija" style="height:250px"></canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
          <div class="p-4 border-bottom bg-light">
            <h4 class="card-title mb-0">Primerjava porabe električne energije na prebivalca v različnih območjih [kWh/preb.]</h4>
          </div>
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center pb-4">
              <h4 class="card-title mb-3"></h4>
              <div id="stacked-bar-traffic-legend"></div>
            </div>
            <p class="mb-4"></p>
            <canvas id="stackedbarChart_EE_prebivalca" style="height:230px"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
  <script src="/static/assets/js/shared/chart.js"></script>
{% endblock javascripts %}
